<body class="reg-body">
  <div class="form-container">

<form method="POST" action="/auth/register" enctype="multipart/form-data">
    <div class="form-items">

      <h1>Register for AdvenTours</h1>
      <br>

<div>
  <label> First Name</label>
  <input class="form-control" type="text" name="firstName">
</div>
<br>
<div>
  <label> Last Name</label>
  <input class="form-control" type="text" name="lastName">
</div>
<br>
<div>
  <label> Phone Number</label>
  <input class="form-control" type="number" name="phoneNumber">
</div>
<br>
<div>
  <label> Email</label>
  <input class="form-control" type="email" name="email">
</div>
<br>
<div>
  <label> Password</label>
  <input class="form-control" type="password" name="password">
</div>
<br>
<div>
<label>Image</label>
<input class="form-control" type="file" name="userImage">
</div>
<br>

<div>
  <button class=" btn btn-outline-light reg-btn" type="Submit">Register Now</button>
</div>

</div>
</form>
</div>
</body>


  


</body>
