<h1>Add Review</h1>

<form method="POST" action="/review/add">

  <div>
    <label>Comment</label>
    <textarea name="comment"></textarea>
  </div>



  <div>
    <button type="submit" name="review">Add</button>
  </div>
</form>

