<body class="addrev-body">
 
  <div class="bookform-container addrev-contbg">
<form method="POST" action="/review/edit?_method=PUT">
  <div class="addbookform-items">


    <div class="rev-h1">Edit Review</div>
    <br>
  <div>
    <label>Comment</label>
    <br>
 
    <textarea class="form-control" name="comment">
      <%= review.comment %>
    </textarea>
  </div>


<input type="hidden" name="id" value="<%= review._id%>"/>

<input type='hidden' name="activityId" value="<%= review.activity._id %>">
<br>
  <div>
    <button class="btn btn-outline-light login-btn" type="submit">Update Review</button>
  </div>

</div> 
</form>
</div>
</body>
