

/* Container needed to position the button. Adjust the width as needed */

.grid-container {
  display: grid;
  grid-template-columns: 40% 60% ;
  background-color: #2196F3;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.container {
  position: relative;
  width: 60%;
}

/* Make the image responsive */
.container .mappic {
  width: 100%;
  height: 70%;
  height: auto;
}

/* Style the buttons and place them in the right place on the image */
 .southern {
  position: absolute;
  top: 45%;
  left: 44%;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40%;
}

.capital {
  position: absolute;
  top: 17%;
  left: 47%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40%;
}


.northern {
  position: absolute;
  top: 16%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40%;
}


.muharraq {
  position: absolute;
  top: 11%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40%;
}



.container .southern:hover .capital:hover .muharraq:hover .northern:hover {
  background-color: black;
}


.background{
  background-color: aqua;
}

.imgDiv{
background-repeat: no-repeat;
background-position: center;
/* background-size: cover; */
background-size: contain;
width: auto;
height: auto;
}
