<h1> Add Category </h1>

<br>

<form method="POST" action="/category/add">

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded form-container">
<div class="items">

<label>Category</label>
<input class="form-control" type="text" name="catgName">

<br>

<label>Description</label>
<textarea class="form-control" name="catgDesc"></textarea>

<br>

<button class="btn btn-secondary" type="submit">Create Category</button>

</div>
</div>

</form>