<body class="allact-body">
  <div class="allact-container">

<% categories.forEach(function(category) { %>

<div class="shadow-lg form-container activites-container" style="background-image: url(<%= category.profileImage %>);">

<a href="/category/eachactivity?id=<%= category._id %>">
<%= category.catgName %> 


</div>

<% }) %>
</div>
</body>
