<% categories.forEach(function(category) { %>

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded form-container">

<a href="/category/eachactivity?id=<%= category._id %>">
<%= category.catgName %> 


</div>

<% }) %>
