<body class="allact-body">
  <div class="allact-container">
<% category.activity.forEach((activity) => { %>

<div class="shadow-lg p-3 mb-5 form-container activites-container">
<a href="/activity/detail?id=<%= activity._id %>">

<%= activity.actName %></a>
    
</div>

<% }) %>
</div>
</body>
