<body class="categoryadd-body">

  <br>

<form method="POST" action="/category/update?_method=POST" enctype="multipart/form-data">

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded forms-container">
  <h1> Update Category </h1>

<br>
<div class="items">

<label>Name</label>
<input class="form-control" type="text" name="catgName" value="<%= category.catgName %>"/>

<br>

<label>Description</label>
<textarea class="form-control" name="catgDesc" ><%= category.catgDesc %></textarea>

<br>

<label>Image</label>
<input class="form-control" type="file" name="profileImage">

<br>

<input type="hidden" name="id" value="<%= category._id %>" />

<br>

<button type="submit" class="btn btn-secondary">Update Category</button>

</div>
</div>

</form>
</body>