<body class="profile-body">
  
  <div class="shadow-lg p-3 mb-5 rounded profileedit-container">
  <div class="profile-items">
    <div class="profile-h1"> Change Password
      <br>
      <br>
    </div>

<form method="POST" action="/user/updatepassword?_method=PUT">
  <div class="loginform-items">

<div>
  <label> Old Password</label>
  <input class="form-control" type="password" name="oldpassword">
</div>

<div>
  <label> New Password</label>
  <input class="form-control" type="password" name="password">
</div>
<br>

<div>
  <button class="btn btn-outline-light login-btn" type="Submit">Apply Change</button>
</div>

<input type="hidden" name="username" value="<%= currentUser.email %>">

</form>

</div>
</div>
</div>

</body>

