<h1>Edit Profile</h1>

<form method="POST" action="/user/updatepassword?_method=PUT">

<div>
  <label> Old Password</label>
  <input type="password" name="oldpassword">
</div>
<div>
  <label> New Password</label>
  <input type="password" name="password">
</div>


<div>
  <button type="Submit">Apply Change</button>
</div>

<input type="hidden" name="username" value="<%= currentUser.email %>">


</form>
