<h1>Profile</h1>

<div>
  First Name: <%= currentUser.firstName %>
</div>
<div>
  Last Name: <%= currentUser.lastName %>
</div>
<div>
  Phone Number: <%= currentUser.phoneNumber %>
</div>
<div>
  email: <%= currentUser.email %>
</div>

<nav>
  <a href="/user/edit">Edit Profile</a>
  <a href="/user/changepassword">Change Password</a>
</nav>

<hr>
