<body class="allact-body">
  <div class="allact-container">
<form method="GET" action="/activity/all">

<input type="text" name="searchActivity" placeholder="Search Activity">

<button type="submit">Search</button>
</form>

<% if(activites && activites.length > 0) { %>
<% activites.forEach(function(activity) { %>


<% activites.forEach(function(activity) { %>
  <div class="shadow-lg p-3 form-container activites-container" style="background-image: url(<%= activity.activityImage %>);">
  
  <a href="/activity/detail?id=<%= activity._id %>"><%= activity.actName %> 
  
  
  </div>
  
<<<<<<< HEAD
  <% }) %>
</div>
</body>
=======
  <% })} %>
>>>>>>> d4fead9770e6ba12cf8460037cae60ceb18957d3
