<body class="allact-body">
  <div class="allact-container">


<% activites.forEach(function(activity) { %>

  <div class="shadow-lg p-3 mb-5 bg-body-tertiary form-container activites-container" style="background-image: url(<%= activity.activityImage %>);">
  
  <a href="/activity/detail?id=<%= activity._id %>">
  <%= activity.actName %> 
  
  
  </div>

  
  <% }) %>
</div>
</body>