<% activites.forEach(function(activity) { %>

  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded form-container">
  
  <a href="/activity/detail?id=<%= activity._id %>">
  <%= activity.actName %> 
  
  
  </div>
  
  <% }) %>