<link rel="stylesheet" href="../css/map.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../js/map.js" defer></script>

<h1>Map</h1>


<div class="container">
  <img src="../Images/b.png" >
  <button class="btn">button1</button>
</div>


<div id="acti" >
  
</div>