<link rel="stylesheet" href="../css/map.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../js/map.js" defer></script>

<h1>Explore Map</h1>




<div class="grid-container">
  <div class="grid-item">
    <div id="acti" >
  
    </div>
  </div>

  <div class="grid-item">
    <div class="container">
      <img class="mappic" src="../Images/map.png" >
      <button class="capital">Capital</button>
      <button class="muharraq">Muharraq</button>
      <button class="northern">Northern</button>
      <button class="southern">Southern</button>
    </div>
  </div>

</div>



