<body class="map-page">
<link rel="stylesheet" href="../css/map.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../js/map.js" defer></script>



<div class="grid-container">
  
  <div class="grid-item">
    <div class="map-h1"> <p>Explore Bahrain with us ...</p></div>

    <div id="acti" >
  
    </div>
  </div>

  <div class="grid-item">

    <div class="container">
      <img class="mappic" src="../Images/map1.png" >
      <button class="btn btn-info capital">Capital</button>
      <button class="btn btn-info muharraq">Muharraq</button>
      <button class="btn btn-info northern">Northern</button>
      <button class="btn btn-info southern">Southern</button>
    </div>
  </div>

</div>
</body>



