<div class="video-container">
  
<video autoplay loop muted plays-inline class="background-clip">
<source src="images/video.mp4" type="video/mp4">
</video>
<div class="home-cont">
<div class="home-content">
<h1> Let's Explore The <br>Beautiful BAHRAIN</h1>
<a href="#" class=" btn btn-outline-light home-btn">Start Exploring</a>

</div>
</div>
</div>


