<h1>Book an Activity</h1>

<form method="POST" action="/book/add">

  <div>
    <label>Number of Tickets</label>
    <input type="text" name="noOfTickets">
  </div>

  <div>
    <label>Date</label>
    <input type="date" name="date">
  </div>

  <div>
    <label>Time</label>
    <input type="time" name="time">
  </div>


  <div>
    <button type="submit" name="book">Book</button>
  </div>
</form>

