<h1>Book an Activity</h1>

<form method="POST" action="/book/add">

  <div>
    <label>Name</label>
    <input type="text" name="bookName">
  </div>

  <div>
    <label>Phone Number</label>
    <input type="text" name="bookNum">
  </div>

  <div>
    <label>Number of Tickets</label>
    <input type="text" name="noOfTickets">
  </div>

  <div>
    <label>Select Activity</label>
    <select name="activity">
      <% activities.forEach((activity)=>{ %>
        <option value=<%= activity._id %> ><%= activity.actName %></option>
      <% }) %>
    </select>
  </div>


  <input type="hidden" name="userId" value="<%= currentUser._id %>">

  <div>
    <button type="submit" name="book">Book</button>
  </div>
</form>

